h1
{
	text-align:center;
	margin-bottom:25px;
	font-family:monospace;
	font-size:oblique;

	
	
}
li
{
	font-family:monospace;
	font-size:oblique;
	font-size:18px;
}
#intro
{
	clear:both;
	display:inline-block;
	width:97%;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	font-family:monospace;
	font-size:oblique;
	text-align:center;
	color:Black;
	
	
}
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 10px; 
	visibility:hidden;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

#buton
{
	margin-left:40px;
	margin-top:8px;
	border:solid #333;
	border-radius:8px;
	font-size:20px;
	color:#333;
	padding:13px 29px;
	background-color:transparent;
	font-family:monospace;
}

#buton:hover
{
	background-color:#333;
	color:Bisque;
	
}

body {
  margin: 0;
  
  background-color:Gainsboro;
}

.meniu {
	font-family:monospace;
	font-size:oblique;
	position: relative;
	overflow: hidden;
	background-color: #333;
    
    top: 50; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.meniu a {
  float: left;
  color: Bisque;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.meniu a:hover {
  background-color: #ddd;
  color: black;
}

.meniu a.active {
  background-color: Gainsboro;
  color: Black;
}

.meniu-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meniu-right {
  float: right;
}



@media screen and (max-width: 900px) {
  .meniu a, .meniu-right {
    float: none;
    display: block;
  }
  
  .meniu-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}


.imag
{
	width:130px;
	height:230px;
	vertical-align:sub;
	margin-top:15px;
	margin-bottom:30px;
	
	border:solid black;
	border-radius:8px;
	border-width:2px;
	
	display:block;
}
.imag:hover
{
	border:solid DarkKhaki;
	border-width:2px;
	border-radius:8px;
	width:130px;
	height:230px;
}

#check
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	text-align:center;
	font-family:monospace;
	font-style:oblique;
	font-size:20px;
}

#sub
{
	
	border-radius:8xp;
	border-width:2px;
	background:black;
	color:Gainsboro;
	font-size:17px;
	font-family:monospace;
	
}




